<div class="row">

    <label class="col-2">
        <input class="col-12" id="cont_img_type_file" type="radio" name="cont_img_type" value="file" />Upload de
        arquivo</label>
    <label class="col-2">
        <input class="col-12" id="cont_img_type_url" type="radio" name="cont_img_type" value="url" />URL de
        Imagem</label> <span> | </span>
    <strong class="col-6" style="font-size: 0.8em;">Atual: <span id="atualImg">Arquivo</span> </strong>
    <br>

    <label class="col-2">
        <input id="cont_img" type="file" name="cont_img" value=""></label>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        console.log("DOM completamente carregado e analisado");

        var contImgInput = document.getElementById('cont_img');
        var imgTypeFile = document.getElementById('cont_img_type_file');
        var imgTypeUrl = document.getElementById('cont_img_type_url');
        var imgTypeAtual = document.getElementById('atualImg');
        imgTypeAtual.innerHTML = (contImgInput.getAttribute('type') == 'file')
            ? imgTypeFile.parentElement.innerHTML.replace(/<\/?[^>]+(>|$)/g, "")
            : imgTypeUrl.parentElement.innerHTML.replace(/<\/?[^>]+(>|$)/g, "");

        imgTypeFile.onclick = handler;
        imgTypeUrl.onclick = handler;


        function handler() {
            imgTypeAtual.innerHTML = this.parentElement.innerHTML.replace(/<\/?[^>]+(>|$)/g, "");
            contImgInput.setAttribute('type', this.value);
        }
    });
</script>